
  body{
    background:rgb(173, 239, 209);
  }
  
  .container{
    height: 400px;
    width: 700px;
    margin: 20px auto;
    margin-top:20px;
    border-radius:15px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    background: rgb(15,198,53); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(15,18,53,1) 0%, rgba(192,234,103,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(15,18,53,1) 0%,rgba(192,234,103,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgb(0,32,63) 0%,rgb(0,32,63) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='blue', endColorstr='blue',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    text-align: center;
}

  .headings {
      color: rgb(173, 239, 209);
      font-family: 'Anek Bangla', sans-serif;
      font-size: 20px;
      display: inline;
      padding: 15px;
    }

.user-data {
    color: rgb(173, 239, 209);
    font-family: 'Anek Bangla', sans-serif;
    margin: auto;
    display: inline;
    margin-top: 20px;
}

.url {
    text-decoration: none;
}
